.video-meta {
    padding: 20px 0;
}

.video-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.video-title {
    width: 70%;
}

.video-title h3 {
    margin: 0 0 10px;
}

.video-title ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.video-title ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 50px;
    position: relative;
    font-weight: 500;
}

.video-title ul li span.icon {
    margin-right: 5px;
}

.video-title ul li strong {
    margin-right: 5px;
    font-weight: 600;
}

.video-title ul li:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .video-title ul li {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 767px) {


    .video-title h3 {
        font-size: 18px;
    }

    .video-title {
        width: 100%;
    }

    .video-title ul li strong {
        display: block;
    }

    .video-title ul li {
        margin: 0;
        padding-right: 0;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 33.33%;
                flex: 0 0 33.33%;
    }

    .video-title ul li:last-child {
        padding-right: 0;
    }


}

@media only screen and (max-width: 767px) {
   
    .video-meta {
        font-size: 12px;
        line-height: 13px;
    }
}